body {
  background-color: #FBBBB0
  ;
  padding: 20px;
  margin: 0;
}

.active {
  background-color: #bab6f8;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #000000
  ;
  padding: 0;
}
ul.header li a {
  color: #f8b6d3;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #fbb0f0;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}