body {
  background-color: darkorange;
  
  padding: 0;
  margin: 0;
}

.active {
  background-color: orange;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #212529;
  padding: 0;
  margin: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
ul.header li a {
  color: orangered;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: slate;
  padding: 20px;
  padding-top: 100px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.header{
  background-color: #212529;
  overflow:visible;
  z-index: 1;
  width:100%;
  position: fixed;
  padding: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}